@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Mountains+of+Christmas&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Lato&family=Mountains+of+Christmas&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Mountains+of+Christmas&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Lato&family=Maven+Pro&family=Mountains+of+Christmas&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Lato&family=Maven+Pro&family=Merriweather:wght@300&family=Mountains+of+Christmas&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Lato:wght@100;400&family=Maven+Pro&family=Merriweather:wght@300&family=Mountains+of+Christmas&family=Playfair+Display&display=swap');
$fontColor:#717171;
$appColor: #22252a;
$placeHolder:#d7d7d7;
$darkColor:#3b286d;
$lightDark:#7158b3;
$checkColor:#b7b7b7;
$priceColor: #8df49d;
$shadowColor:#39344b;
$accColor:#686869;
$accHover:#7159b3;
$dollarColor: #2de54b;
$svgColor:#414347;
$priceBack:#2d3035;
$lightColor:#cccccc;
$titleName:'Maven Pro', sans-serif;;
$checkText: ui-serif;
$HeadingText: 'Jost', sans-serif;
$registerText:  'Lato', sans-serif;
$descriptionText:'Merriweather', serif;
$confirmationText:'Jost', sans-serif;
$colgroup:#7c60c7;
$lebelText:'Lato';
$checkboxText: 'Roboto';
$resendText:"Maven Pro";
$falseColor: #bc2d2d;

